<p>Add a new CD:</p>

<form action="/cdList" method="post">
  <label for="cdTitle">CD Title</label>
  <input id="cdTitle" name="cdTitle" type="text">

  <label for="cdArtist">CD Artist</label>
  <input id="cdArtist" name="cdArtist" type="text">

  <button type="submit" class="btn btn-default">Add CD</button>
</form>
