#if ($cd)
  <h1>$cd.getInfo()</h1>
#else
  <h1> CD not found </h1>
#end

<br>
<a href="/cdList/new">Add new CD</a>
<br>
<a href="/cdList">View all CDs</a>
<br>
<a href="/cdArtist">View all Artists</a>
