<h1>All Artists</h1>
<ul>
#foreach ($cd in $cdList)
  <p><a href="/artist/$cd.getArtist()">$cd.getArtist()</a></p>
#end
</ul>
<br>
<a href="/cdList/new">Add new CD</a>
<br>
<a href="/cdList">View all CDs</a>
<br>
<a href="/cdArtist">View all Artists</a>
